---
import Form from "$lib/components/form/form.astro";
import Layout from "$lib/layouts/layout.astro";

const fields = [
	{ name: "username", label: "Usuario" },
	{ name: "password", label: "Contraseña", type: "password" },
];
---

<Layout>
	<Form title="Login" {fields}>
		¿No tienes cuenta? <a href="/register">Regístrate</a>
	</Form>
</Layout>
