---
import Button from "$lib/commons/components/button";
import Compose from "$lib/components/compose";
import Header from "$lib/components/header";
import Layout from "$lib/layouts/root-layout.astro";
import Follow from "./_user/follow.svelte";
import Followers from "./_user/followers.svelte";
import Load from "./_user/load.astro";
import Posts from "./_user/posts.svelte";

if (!Astro.locals.user) {
	return Astro.redirect("/i/login");
}

const name = Astro.params.user as string;
---

<Layout title={name}>
	<div>
		<div class="container">
			<Header>
				<div class="buttons">
					<Button icon="arrow-right" mirror href="/" />
					<Follow client:idle currentUser={Astro.locals.user.id} />
				</div>
			</Header>

			<div class="content">
				@{name}

				<div class="followers">
					<Followers client:idle />
				</div>
			</div>

			<Posts client:idle {name} />
		</div>
	</div>

	<Compose client:idle />
</Layout>

<Load />

<style lang="scss">
	@use "$lib/commons/theme";

	.container {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		border-left: 1px solid theme.$colorNeutralDark;
		border-right: 1px solid theme.$colorNeutralDark;

		> :global(:last-child) {
			flex: 1;
		}
	}

	.content {
		padding: 0 1rem 1rem;
	}

	.buttons {
		display: flex;
		justify-content: space-between;
		padding: 1rem;

		> :global(:nth-child(1)) {
			margin: -0.5rem;
		}
	}

	.followers {
		margin-top: 1rem;

		:global(span) {
			margin-right: 1rem;
			color: theme.$colorNeutral;
		}
	}
</style>
