---
import Compose from "$lib/components/compose";
import Header from "$lib/components/header";
import Layout from "$lib/layouts/root-layout.astro";
import Content from "./_home/content.svelte";
import Load from "./_home/load.astro";
import Tabs from "./_home/tabs.svelte";

if (!Astro.locals.user) {
	return Astro.redirect("/i/login");
}
---

<Layout title="Home">
	<div>
		<div class="container">
			<Header>
				<div class="tabs"><Tabs client:idle /></div>
			</Header>

			<div class="content">
				<Content client:idle />
			</div>
		</div>
	</div>

	<Compose client:idle />
</Layout>

<Load />

<style lang="scss">
	@use "$lib/commons/theme";

	.tabs {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		border-bottom: 1px solid theme.$colorNeutralDark;
		position: relative;
	}

	.container {
		min-height: 100%;
		display: grid;
		grid-template-rows: auto 1fr;
	}

	.content {
		display: grid;
		grid-template-areas: "content";
		overflow: hidden;

		:global(> astro-island > *) {
			grid-area: content;
		}
	}
</style>
