---
import { get } from "$lib/commons/utils/fetch";
import Compose from "$lib/components/compose";
import Header from "$lib/components/header";
import type { Post } from "$lib/database";
import Layout from "$lib/layouts/layout.astro";
import Content from "./_home/content.svelte";
import Tabs from "./_home/tabs.svelte";

const posts = await get<Post[]>(`https://y-dpx.pages.dev//api/post/all`);
---

<Layout title="Home">
	<div class="container">
		<Header>
			<div class="tabs"><Tabs client:idle /></div>
		</Header>

		<div class="content">
			<Content client:idle {posts} />
		</div>
	</div>

	<Compose client:idle />
</Layout>

<style lang="scss">
	@use "$lib/commons/theme";

	.container {
		position: relative;
	}

	.tabs {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		border-bottom: 1px solid theme.$colorNeutralDark;
		position: relative;
	}

	.content {
		display: grid;
		grid-template-areas: "content";
		overflow: hidden;

		:global(> astro-island > *) {
			grid-area: content;
		}
	}
</style>
