---
import { GET as GETAll } from "$api/post/all/[...page]";
import { GET as GETFollowing } from "$api/post/following/[...page]";
import Compose from "$lib/components/compose";
import Header from "$lib/components/header";
import Layout from "$lib/layouts/layout.astro";
import Content from "./_home/content.svelte";
import Tabs from "./_home/tabs.svelte";

const posts = await GETAll(Astro).then((response) => response.json());
const following = await GETFollowing(Astro).then((response) => response.json());
---

<Layout title="Home">
	<div class="scroll">
		<div class="container">
			<Header>
				<div class="tabs"><Tabs client:idle /></div>
			</Header>

			<div class="content">
				<Content client:idle {posts} {following} />
			</div>
		</div>
	</div>

	<Compose client:idle />
</Layout>

<style lang="scss">
	@use "$lib/commons/theme";

	.container {
		position: relative;
	}

	.tabs {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		border-bottom: 1px solid theme.$colorNeutralDark;
		position: relative;
	}

	.content {
		display: grid;
		grid-template-areas: "content";
		overflow: hidden;

		:global(> astro-island > *) {
			grid-area: content;
		}
	}
</style>
