---
import Form from "$lib/components/form";
import Layout from "$lib/layouts/layout.astro";

const fields = {
	email: {
		name: "email",
		label: "Email",
	},
	password: {
		name: "password",
		label: "Contraseña",
		type: "password",
	},
};
---

<Layout title="Login">
	<Form title="Login" {fields} api="login">
		¿No tienes cuenta? <a href="/register">Regístrate</a>
	</Form>
</Layout>
