---
import Form from "$lib/components/form";
import Layout from "$lib/layouts/layout.astro";

const fields = {
	email: {
		name: "email",
		label: "Email",
	},
	name: {
		name: "name",
		label: "Nombre de usuario",
	},
	password: {
		name: "password",
		label: "Contraseña",
		type: "password",
	},
	confirmPassword: {
		name: "confirmPassword",
		label: "Repite la contraseña",
		type: "password",
	},
};

export const prerender = true;
---

<Layout title="Registro">
	<Form title="Registro" {fields} api="register">
		¿Ya tienes cuenta? <a href="/login">Inicia sesión</a>
	</Form>
</Layout>
