---
import Fields from "./fields.svelte";

type FieldsProps = Parameters<typeof Fields>[0];

interface Props extends FieldsProps {
	title: string;
}

const { title, fields, api } = Astro.props;
---

<div>
	<div class="form">
		<div class="title">{title}</div>

		<Fields client:idle {fields} {api} />

		<div class="link">
			<slot />
		</div>
	</div>
</div>

<style lang="scss">
	@use "$lib/commons/theme";

	.form {
		display: grid;
		gap: 0.5rem;
		padding: 1rem;
	}

	.title {
		font-size: 2rem;
	}

	.link {
		margin-top: 2rem;
		color: theme.$colorNeutral;

		:global(a) {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
</style>
