---
import "$lib/commons/assets/global.scss";
import { ViewTransitions } from "astro:transitions";
import Snackbar from "$lib/commons/components/snackbar";
---

<script>
	if (import.meta.env.PROD && navigator.serviceWorker) {
		navigator.serviceWorker.register("/service-worker.js");
	}
</script>

<style lang="scss">
	html,
	body {
		min-height: 100dvh;
	}

	.body {
		position: relative;
		left: 50%;
		translate: -50%;
		max-width: 640px;
	}
</style>

<html lang="en">
	<head>
		<title>Y</title>
		<meta name="description" content="Y" />
		<meta name="theme-color" content="#000000" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/192x192.png" />
		<link rel="manifest" href="/manifest.json" />
		<ViewTransitions />
	</head>

	<body>
		<div class="body">
			<slot />
		</div>
		<Snackbar client:idle />
	</body>
</html>
