---
import Layout from "$lib/commons/components/layout";
import Snackbar from "$lib/commons/components/snackbar";

interface Props {
	title: string;
}

const { title } = Astro.props;

Astro.response.headers.set("Vary", "Cookie");
Astro.response.headers.set("Cache-Control", "private, max-age=3600");
---

<Layout {title}>
	<div class="content">
		<slot />
	</div>

	<Snackbar client:idle transition:persist />
</Layout>

<style lang="scss">
	html {
		scrollbar-gutter: auto;
	}

	.content {
		height: 100dvh;
		position: relative;

		> :global(:not(astro-island)),
		> :global(astro-island > *) {
			height: 100%;
			scrollbar-gutter: stable;
			overflow: var(--overflow, auto);

			> :global(:not(astro-island)),
			> :global(astro-island > *) {
				position: relative;
				left: 50%;
				translate: -50%;
				max-width: 640px;
			}
		}
	}
</style>
