---
import Layout from "$lib/commons/components/layout";
import Snackbar from "$lib/commons/components/snackbar";

interface Props {
	title: string;
	skipCache?: boolean;
}

const { title, skipCache } = Astro.props;

if (!skipCache) {
	Astro.response.headers.set("Vary", "Cookie");
	Astro.response.headers.set("Cache-Control", "private, max-age=3600");
}
---

<Layout {title} {skipCache}>
	<div class="content">
		<slot />
	</div>

	<Snackbar client:idle transition:persist />
</Layout>

<style lang="scss">
	html {
		scrollbar-gutter: auto;
	}

	.content {
		height: 100%;
		position: relative;

		> :global(:not(astro-island)),
		> :global(astro-island > *) {
			height: 100%;
			scrollbar-gutter: stable;
			overflow: var(--overflow, auto);

			> :global(:not(astro-island)),
			> :global(astro-island > *) {
				position: relative;
				left: 50%;
				translate: -50%;
				max-width: 640px;
			}
		}
	}
</style>

<script>
	import { store } from "$lib/stores.svelte";

	document.addEventListener("astro:before-preparation", () => {
		store.transition = true;
	});

	document.addEventListener("astro:after-swap", () => {
		store.transition = false;
	});
</script>
