---
import Form from "$lib/components/form";
import Layout from "$lib/layouts/root-layout.astro";
import Redirect from "./_redirect.astro";

const fields = {
	email: {
		name: "email",
		label: "Email",
	},
	password: {
		name: "password",
		label: "Contraseña",
		type: "password",
	},
};

export const prerender = true;
---

<Redirect />

<Layout title="Login">
	<Form title="Login" {fields} api="login">
		¿No tienes cuenta? <a href="/i/register/">Regístrate</a>
	</Form>
</Layout>
